* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.header {
    background-color: #9D6F50;
    padding: 29px 48px;
    height: 110px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header>.logo {
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    background-color: #FFB240;
    color: #000000;
    border-radius: 10px;

}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.join-us {
    font-weight: 700;
    padding: 14px 22px;
    display: inline-block;
}

.introduction {
    background-color: #DEC5B5;
    border-radius: 30px;
    margin: 60px 24px 65px 24px;
    padding: 86px 73px;
    display: flex;
    justify-content: flex-start;
    gap: 54px;
}

.introduction-image {
    border-radius: 30px;
    width: 689px;
    height: 404px;
    margin-left: auto;
}

.introduction-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.try-now {
    padding: 24px 64.5px;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height:1;
    text-transform: uppercase;
    display: inline-block;
}