body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration:none;
}

.header {
    background-color: #9D6F50;
    padding:29px 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
}

.header>.logo{
    margin-right: auto;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    background-color:#FFB240;
    border-radius:10px;
    font-weight: 700;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.join-us{
    padding:14px 22px;
    color: #000000;
}

